body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1233px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6088 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:208px;
  width:1179px;
  height:511px;
}
#u6089_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:79px;
}
#u6089 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:79px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u6089_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:95px;
  word-wrap:break-word;
}
#u6090_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:79px;
}
#u6090 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:0px;
  width:116px;
  height:79px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u6090_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:112px;
  word-wrap:break-word;
}
#u6091_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:79px;
}
#u6091 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:0px;
  width:108px;
  height:79px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u6091_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:104px;
  word-wrap:break-word;
}
#u6092_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:79px;
}
#u6092 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:0px;
  width:108px;
  height:79px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u6092_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:104px;
  word-wrap:break-word;
}
#u6093_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:79px;
}
#u6093 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:0px;
  width:106px;
  height:79px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u6093_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:102px;
  word-wrap:break-word;
}
#u6094_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:79px;
}
#u6094 {
  border-width:0px;
  position:absolute;
  left:537px;
  top:0px;
  width:106px;
  height:79px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u6094_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:102px;
  word-wrap:break-word;
}
#u6095_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:79px;
}
#u6095 {
  border-width:0px;
  position:absolute;
  left:643px;
  top:0px;
  width:106px;
  height:79px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u6095_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:102px;
  word-wrap:break-word;
}
#u6096_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:79px;
}
#u6096 {
  border-width:0px;
  position:absolute;
  left:749px;
  top:0px;
  width:108px;
  height:79px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u6096_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:104px;
  word-wrap:break-word;
}
#u6097_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:79px;
}
#u6097 {
  border-width:0px;
  position:absolute;
  left:857px;
  top:0px;
  width:106px;
  height:79px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u6097_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:102px;
  word-wrap:break-word;
}
#u6098_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:79px;
}
#u6098 {
  border-width:0px;
  position:absolute;
  left:963px;
  top:0px;
  width:108px;
  height:79px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u6098_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:104px;
  word-wrap:break-word;
}
#u6099_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:79px;
}
#u6099 {
  border-width:0px;
  position:absolute;
  left:1071px;
  top:0px;
  width:108px;
  height:79px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u6099_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:104px;
  word-wrap:break-word;
}
#u6100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:144px;
}
#u6100 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:79px;
  width:99px;
  height:144px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u6100_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:58px;
  width:87px;
  word-wrap:break-word;
}
#u6101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:144px;
}
#u6101 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:79px;
  width:116px;
  height:144px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u6101_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:30px;
  width:104px;
  word-wrap:break-word;
}
#u6102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:144px;
}
#u6102 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:79px;
  width:108px;
  height:144px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u6102_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u6103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:144px;
}
#u6103 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:79px;
  width:108px;
  height:144px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u6103_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u6104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:144px;
}
#u6104 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:79px;
  width:106px;
  height:144px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u6104_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:102px;
  word-wrap:break-word;
}
#u6105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:144px;
}
#u6105 {
  border-width:0px;
  position:absolute;
  left:537px;
  top:79px;
  width:106px;
  height:144px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u6105_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:102px;
  word-wrap:break-word;
}
#u6106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:144px;
}
#u6106 {
  border-width:0px;
  position:absolute;
  left:643px;
  top:79px;
  width:106px;
  height:144px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u6106_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:58px;
  width:94px;
  word-wrap:break-word;
}
#u6107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:144px;
}
#u6107 {
  border-width:0px;
  position:absolute;
  left:749px;
  top:79px;
  width:108px;
  height:144px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u6107_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:58px;
  width:96px;
  word-wrap:break-word;
}
#u6108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:144px;
}
#u6108 {
  border-width:0px;
  position:absolute;
  left:857px;
  top:79px;
  width:106px;
  height:144px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u6108_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:102px;
  word-wrap:break-word;
}
#u6109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:144px;
}
#u6109 {
  border-width:0px;
  position:absolute;
  left:963px;
  top:79px;
  width:108px;
  height:144px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u6109_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:58px;
  width:104px;
  word-wrap:break-word;
}
#u6110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:144px;
}
#u6110 {
  border-width:0px;
  position:absolute;
  left:1071px;
  top:79px;
  width:108px;
  height:144px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u6110_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:58px;
  width:104px;
  word-wrap:break-word;
}
#u6111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:144px;
}
#u6111 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:223px;
  width:99px;
  height:144px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u6111_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:58px;
  width:87px;
  word-wrap:break-word;
}
#u6112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:144px;
}
#u6112 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:223px;
  width:116px;
  height:144px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u6112_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:30px;
  width:104px;
  word-wrap:break-word;
}
#u6113_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:144px;
}
#u6113 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:223px;
  width:108px;
  height:144px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u6113_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u6114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:144px;
}
#u6114 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:223px;
  width:108px;
  height:144px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u6114_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u6115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:144px;
}
#u6115 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:223px;
  width:106px;
  height:144px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u6115_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:102px;
  word-wrap:break-word;
}
#u6116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:144px;
}
#u6116 {
  border-width:0px;
  position:absolute;
  left:537px;
  top:223px;
  width:106px;
  height:144px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u6116_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:102px;
  word-wrap:break-word;
}
#u6117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:144px;
}
#u6117 {
  border-width:0px;
  position:absolute;
  left:643px;
  top:223px;
  width:106px;
  height:144px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u6117_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:58px;
  width:94px;
  word-wrap:break-word;
}
#u6118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:144px;
}
#u6118 {
  border-width:0px;
  position:absolute;
  left:749px;
  top:223px;
  width:108px;
  height:144px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u6118_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:58px;
  width:96px;
  word-wrap:break-word;
}
#u6119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:144px;
}
#u6119 {
  border-width:0px;
  position:absolute;
  left:857px;
  top:223px;
  width:106px;
  height:144px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u6119_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:102px;
  word-wrap:break-word;
}
#u6120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:144px;
}
#u6120 {
  border-width:0px;
  position:absolute;
  left:963px;
  top:223px;
  width:108px;
  height:144px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u6120_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:58px;
  width:104px;
  word-wrap:break-word;
}
#u6121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:144px;
}
#u6121 {
  border-width:0px;
  position:absolute;
  left:1071px;
  top:223px;
  width:108px;
  height:144px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u6121_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:58px;
  width:104px;
  word-wrap:break-word;
}
#u6122_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:144px;
}
#u6122 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:367px;
  width:99px;
  height:144px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u6122_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:58px;
  width:87px;
  word-wrap:break-word;
}
#u6123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:144px;
}
#u6123 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:367px;
  width:116px;
  height:144px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u6123_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:30px;
  width:104px;
  word-wrap:break-word;
}
#u6124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:144px;
}
#u6124 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:367px;
  width:108px;
  height:144px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u6124_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u6125_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:144px;
}
#u6125 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:367px;
  width:108px;
  height:144px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u6125_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u6126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:144px;
}
#u6126 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:367px;
  width:106px;
  height:144px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u6126_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:102px;
  word-wrap:break-word;
}
#u6127_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:144px;
}
#u6127 {
  border-width:0px;
  position:absolute;
  left:537px;
  top:367px;
  width:106px;
  height:144px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u6127_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:102px;
  word-wrap:break-word;
}
#u6128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:144px;
}
#u6128 {
  border-width:0px;
  position:absolute;
  left:643px;
  top:367px;
  width:106px;
  height:144px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u6128_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:58px;
  width:94px;
  word-wrap:break-word;
}
#u6129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:144px;
}
#u6129 {
  border-width:0px;
  position:absolute;
  left:749px;
  top:367px;
  width:108px;
  height:144px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u6129_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:58px;
  width:96px;
  word-wrap:break-word;
}
#u6130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:144px;
}
#u6130 {
  border-width:0px;
  position:absolute;
  left:857px;
  top:367px;
  width:106px;
  height:144px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u6130_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:102px;
  word-wrap:break-word;
}
#u6131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:144px;
}
#u6131 {
  border-width:0px;
  position:absolute;
  left:963px;
  top:367px;
  width:108px;
  height:144px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u6131_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:58px;
  width:104px;
  word-wrap:break-word;
}
#u6132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:144px;
}
#u6132 {
  border-width:0px;
  position:absolute;
  left:1071px;
  top:367px;
  width:108px;
  height:144px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u6132_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:104px;
  word-wrap:break-word;
}
#u6133 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:51px;
  width:184px;
  height:35px;
}
#u6133_input {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6134_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6134 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:60px;
  width:57px;
  height:17px;
}
#u6134_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6135 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:51px;
  width:127px;
  height:35px;
}
#u6135_input {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6135_input:disabled {
  color:grayText;
}
#u6136_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6136 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:60px;
  width:29px;
  height:17px;
}
#u6136_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6137 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6138_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6138 {
  border-width:0px;
  position:absolute;
  left:867px;
  top:769px;
  width:35px;
  height:25px;
  color:#999999;
}
#u6138_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6138.mouseOver {
}
#u6138_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:25px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6138.selected {
}
#u6138_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6138.disabled {
}
#u6138_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:31px;
  word-wrap:break-word;
}
#u6139_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6139 {
  border-width:0px;
  position:absolute;
  left:906px;
  top:769px;
  width:35px;
  height:25px;
  color:#999999;
}
#u6139_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6139.mouseOver {
}
#u6139_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:25px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6139.selected {
}
#u6139_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6139.disabled {
}
#u6139_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:31px;
  word-wrap:break-word;
}
#u6140_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6140 {
  border-width:0px;
  position:absolute;
  left:945px;
  top:769px;
  width:35px;
  height:25px;
  color:#999999;
}
#u6140_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6140.mouseOver {
}
#u6140_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:25px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6140.selected {
}
#u6140_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6140.disabled {
}
#u6140_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:31px;
  word-wrap:break-word;
}
#u6141_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6141 {
  border-width:0px;
  position:absolute;
  left:985px;
  top:769px;
  width:35px;
  height:25px;
  color:#999999;
}
#u6141_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6141.mouseOver {
}
#u6141_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:25px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6141.selected {
}
#u6141_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6141.disabled {
}
#u6141_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:31px;
  word-wrap:break-word;
}
#u6142_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u6142 {
  border-width:0px;
  position:absolute;
  left:828px;
  top:769px;
  width:35px;
  height:25px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u6142_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u6142.mouseOver {
}
#u6142_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:25px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u6142.selected {
}
#u6142_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u6142.disabled {
}
#u6142_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:31px;
  word-wrap:break-word;
}
#u6143_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6143 {
  border-width:0px;
  position:absolute;
  left:1063px;
  top:769px;
  width:35px;
  height:25px;
  color:#999999;
}
#u6143_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6143.mouseOver {
}
#u6143_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:25px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6143.selected {
}
#u6143_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6143.disabled {
}
#u6143_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:31px;
  word-wrap:break-word;
}
#u6144_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6144 {
  border-width:0px;
  position:absolute;
  left:1023px;
  top:769px;
  width:35px;
  height:25px;
  color:#999999;
}
#u6144_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6144.mouseOver {
}
#u6144_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:25px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6144.selected {
}
#u6144_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6144.disabled {
}
#u6144_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:31px;
  word-wrap:break-word;
}
#u6145_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u6145 {
  border-width:0px;
  position:absolute;
  left:1143px;
  top:769px;
  width:35px;
  height:25px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u6145_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u6145.mouseOver {
}
#u6145_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:25px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u6145.selected {
}
#u6145_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u6145.disabled {
}
#u6145_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:31px;
  word-wrap:break-word;
}
#u6146_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6146 {
  border-width:0px;
  position:absolute;
  left:1102px;
  top:769px;
  width:35px;
  height:25px;
  color:#999999;
}
#u6146_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6146.mouseOver {
}
#u6146_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:25px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6146.selected {
}
#u6146_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6146.disabled {
}
#u6146_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:31px;
  word-wrap:break-word;
}
#u6147_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6147 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:15px;
  width:57px;
  height:17px;
}
#u6147_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6148_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6148 {
  border-width:0px;
  position:absolute;
  left:1039px;
  top:148px;
  width:140px;
  height:40px;
}
#u6148_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u6149_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6149 {
  border-width:0px;
  position:absolute;
  left:875px;
  top:148px;
  width:140px;
  height:40px;
}
#u6149_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u6150_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6150 {
  border-width:0px;
  position:absolute;
  left:711px;
  top:148px;
  width:140px;
  height:40px;
}
#u6150_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u6151_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6151 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:148px;
  width:140px;
  height:40px;
}
#u6151_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u6152_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1233px;
  height:827px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6152 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1233px;
  height:827px;
  opacity:0.5;
}
#u6152_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6153_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  height:272px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6153 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:159px;
  width:426px;
  height:272px;
}
#u6153_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6154_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'楷体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u6154 {
  border-width:0px;
  position:absolute;
  left:797px;
  top:167px;
  width:30px;
  height:30px;
  font-family:'楷体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u6154_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:26px;
  word-wrap:break-word;
}
#u6155_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6155 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:327px;
  width:140px;
  height:40px;
}
#u6155_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u6156_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6156 {
  border-width:0px;
  position:absolute;
  left:633px;
  top:327px;
  width:140px;
  height:40px;
}
#u6156_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u6157_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6157 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:251px;
  width:239px;
  height:17px;
}
#u6157_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  white-space:nowrap;
}
