body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1155px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u27_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:5px;
  width:100px;
  height:40px;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:50px;
  width:1146px;
  height:796px;
}
#u28_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:1146px;
  height:796px;
  overflow:scroll;
}
