body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1176px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:5px;
  width:1171px;
  height:512px;
}
#u30_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u31_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:824px;
  height:30px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:0px;
  width:824px;
  height:30px;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:820px;
  word-wrap:break-word;
}
#u32_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:0px;
  width:84px;
  height:30px;
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:80px;
  word-wrap:break-word;
}
#u33_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:1048px;
  top:0px;
  width:123px;
  height:30px;
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:119px;
  word-wrap:break-word;
}
#u34_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:284px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:140px;
  height:284px;
}
#u34_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:134px;
  width:136px;
  word-wrap:break-word;
}
#u35_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:824px;
  height:284px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:30px;
  width:824px;
  height:284px;
  text-align:left;
}
#u35_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:70px;
  width:820px;
  word-wrap:break-word;
}
#u36_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:284px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:30px;
  width:84px;
  height:284px;
}
#u36_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:134px;
  width:80px;
  word-wrap:break-word;
}
#u37_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:284px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:1048px;
  top:30px;
  width:123px;
  height:284px;
}
#u37_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:134px;
  width:119px;
  word-wrap:break-word;
}
#u38_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:198px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:314px;
  width:140px;
  height:198px;
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:91px;
  width:136px;
  word-wrap:break-word;
}
#u39_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:824px;
  height:198px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:314px;
  width:824px;
  height:198px;
  text-align:left;
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:198px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:314px;
  width:84px;
  height:198px;
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:91px;
  width:80px;
  word-wrap:break-word;
}
#u41_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:198px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:1048px;
  top:314px;
  width:123px;
  height:198px;
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:91px;
  width:119px;
  word-wrap:break-word;
}
