body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:418px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1476 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1477 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1478_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
}
#u1478 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:16px;
  width:152px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:40px;
}
#u1478_img.selected {
}
#u1478.selected {
}
#u1478_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u1479 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1480 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:22px;
  width:174px;
  height:28px;
}
#u1480_input {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1480_input:disabled {
  color:grayText;
}
#u1481_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
}
#u1481 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:72px;
  width:152px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:40px;
}
#u1481_img.selected {
}
#u1481.selected {
}
#u1481_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u1482 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:181px;
  width:100px;
  height:28px;
}
#u1482_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1482_input:disabled {
  color:grayText;
}
#u1483_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
}
#u1483 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:174px;
  width:152px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:40px;
}
#u1483_img.selected {
}
#u1483.selected {
}
#u1483_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u1484_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
}
#u1484 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:123px;
  width:152px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:40px;
}
#u1484_img.selected {
}
#u1484.selected {
}
#u1484_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u1485 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1486_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:40px;
}
#u1486 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:123px;
  width:118px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u1486_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:118px;
  word-wrap:break-word;
}
#u1487_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u1487 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:123px;
  width:106px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u1487_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:10px;
  width:92px;
  word-wrap:break-word;
}
#u1488 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:78px;
  width:174px;
  height:28px;
}
#u1488_input {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1488_input:disabled {
  color:grayText;
}
