body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1173px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2538_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:319px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2538 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:59px;
  width:416px;
  height:319px;
}
#u2538_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2539 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2540 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2541 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2542 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2543 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2544 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2545_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'楷体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u2545 {
  border-width:0px;
  position:absolute;
  left:1143px;
  top:8px;
  width:30px;
  height:30px;
  font-family:'楷体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u2545_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:26px;
  word-wrap:break-word;
}
#u2546_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2546 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:15px;
  width:57px;
  height:17px;
}
#u2546_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2547_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:24px;
}
#u2547 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:11px;
  width:13px;
  height:24px;
}
#u2547_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2548_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2548 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:15px;
  width:57px;
  height:17px;
}
#u2548_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2549_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u2549 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:101px;
  width:130px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:40px;
}
#u2549_img.selected {
}
#u2549.selected {
}
#u2549_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u2550_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2550 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:106px;
  width:100px;
  height:30px;
}
#u2550_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u2551_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:40px;
}
#u2551 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:148px;
  width:192px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:40px;
}
#u2551_img.selected {
}
#u2551.selected {
}
#u2551_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u2552 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2553_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:36px;
  background:inherit;
  background-color:rgba(107, 121, 140, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u2553 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:152px;
  width:190px;
  height:36px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u2553_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:178px;
  word-wrap:break-word;
}
#u2554_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u2554 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:162px;
  width:15px;
  height:17px;
}
#u2554_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2555 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2556_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:36px;
  background:inherit;
  background-color:rgba(107, 121, 140, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u2556 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:202px;
  width:190px;
  height:36px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u2556_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:178px;
  word-wrap:break-word;
}
#u2557_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u2557 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:212px;
  width:15px;
  height:17px;
}
#u2557_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2558_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2558 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:68px;
  width:71px;
  height:17px;
}
#u2558_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2559_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2559 {
  border-width:0px;
  position:absolute;
  left:617px;
  top:785px;
  width:140px;
  height:40px;
}
#u2559_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u2560_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2560 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:785px;
  width:140px;
  height:40px;
}
#u2560_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
