body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1180px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1787_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:840px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1787 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:840px;
}
#u1787_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1788 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1789 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1790 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1791 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1792 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1793 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1794_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1794 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:785px;
  width:140px;
  height:40px;
}
#u1794_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u1795_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'楷体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u1795 {
  border-width:0px;
  position:absolute;
  left:1143px;
  top:8px;
  width:30px;
  height:30px;
  font-family:'楷体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u1795_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:26px;
  word-wrap:break-word;
}
#u1796_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1796 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:15px;
  width:57px;
  height:17px;
}
#u1796_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1797_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:24px;
}
#u1797 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:11px;
  width:13px;
  height:24px;
}
#u1797_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1798_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1798 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:15px;
  width:57px;
  height:17px;
}
#u1798_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1799 {
  border-width:0px;
  position:absolute;
  left:782px;
  top:183px;
  width:133px;
  height:30px;
}
#u1799_input {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1799_input:disabled {
  color:grayText;
}
#u1800 {
  border-width:0px;
  position:absolute;
  left:782px;
  top:236px;
  width:133px;
  height:30px;
}
#u1800_input {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1800_input:disabled {
  color:grayText;
}
#u1801_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u1801 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:284px;
  width:130px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:40px;
}
#u1801_img.selected {
}
#u1801.selected {
}
#u1801_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u1802_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u1802 {
  border-width:0px;
  position:absolute;
  left:782px;
  top:284px;
  width:170px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u1802_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1803_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u1803 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:337px;
  width:130px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:40px;
}
#u1803_img.selected {
}
#u1803.selected {
}
#u1803_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u1804_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u1804 {
  border-width:0px;
  position:absolute;
  left:782px;
  top:335px;
  width:170px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u1804_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1805_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u1805 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:387px;
  width:130px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:40px;
}
#u1805_img.selected {
}
#u1805.selected {
}
#u1805_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u1806_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u1806 {
  border-width:0px;
  position:absolute;
  left:782px;
  top:386px;
  width:170px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u1806_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1807_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u1807 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:437px;
  width:130px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:40px;
}
#u1807_img.selected {
}
#u1807.selected {
}
#u1807_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u1808_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u1808 {
  border-width:0px;
  position:absolute;
  left:782px;
  top:437px;
  width:170px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u1808_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1809 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
}
#u1810 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:502px;
  width:152px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:40px;
}
#u1810_img.selected {
}
#u1810.selected {
}
#u1810_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u1811 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1812_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:40px;
}
#u1812 {
  border-width:0px;
  position:absolute;
  left:908px;
  top:502px;
  width:118px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u1812_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:118px;
  word-wrap:break-word;
}
#u1813_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u1813 {
  border-width:0px;
  position:absolute;
  left:783px;
  top:502px;
  width:106px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u1813_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:10px;
  width:92px;
  word-wrap:break-word;
}
#u1814_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u1814 {
  border-width:0px;
  position:absolute;
  left:642px;
  top:178px;
  width:130px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:40px;
}
#u1814_img.selected {
}
#u1814.selected {
}
#u1814_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u1815_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u1815 {
  border-width:0px;
  position:absolute;
  left:642px;
  top:231px;
  width:130px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:40px;
}
#u1815_img.selected {
}
#u1815.selected {
}
#u1815_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u1816_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u1816 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:68px;
  width:130px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:40px;
}
#u1816_img.selected {
}
#u1816.selected {
}
#u1816_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u1817_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u1817 {
  border-width:0px;
  position:absolute;
  left:629px;
  top:70px;
  width:130px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:40px;
}
#u1817_img.selected {
}
#u1817.selected {
}
#u1817_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u1818_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u1818 {
  border-width:0px;
  position:absolute;
  left:629px;
  top:126px;
  width:130px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:40px;
}
#u1818_img.selected {
}
#u1818.selected {
}
#u1818_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u1819 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1820 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1821_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:14px;
  text-align:left;
}
#u1821 {
  border-width:0px;
  position:absolute;
  left:927px;
  top:74px;
  width:90px;
  height:35px;
  font-size:14px;
  text-align:left;
}
#u1821_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:35px;
  background:inherit;
  background-color:rgba(217, 220, 226, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:14px;
  text-align:left;
}
#u1821.selected {
}
#u1821_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:35px;
  background:inherit;
  background-color:rgba(248, 249, 251, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:14px;
  text-align:left;
}
#u1821.disabled {
}
#u1821_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1822_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:4px;
}
#u1822 {
  border-width:0px;
  position:absolute;
  left:1002px;
  top:94px;
  width:6px;
  height:4px;
}
#u1822_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1823_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:4px;
}
#u1823 {
  border-width:0px;
  position:absolute;
  left:1002px;
  top:86px;
  width:6px;
  height:4px;
}
#u1823_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1824 {
  border-width:0px;
  position:absolute;
  left:935px;
  top:79px;
  width:57px;
  height:25px;
}
#u1824_input {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1825 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1826_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:14px;
  text-align:left;
}
#u1826 {
  border-width:0px;
  position:absolute;
  left:1034px;
  top:74px;
  width:90px;
  height:35px;
  font-size:14px;
  text-align:left;
}
#u1826_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:35px;
  background:inherit;
  background-color:rgba(217, 220, 226, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:14px;
  text-align:left;
}
#u1826.selected {
}
#u1826_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:35px;
  background:inherit;
  background-color:rgba(248, 249, 251, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:14px;
  text-align:left;
}
#u1826.disabled {
}
#u1826_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1827_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:4px;
}
#u1827 {
  border-width:0px;
  position:absolute;
  left:1109px;
  top:94px;
  width:6px;
  height:4px;
}
#u1827_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1828_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:4px;
}
#u1828 {
  border-width:0px;
  position:absolute;
  left:1109px;
  top:86px;
  width:6px;
  height:4px;
}
#u1828_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1829 {
  border-width:0px;
  position:absolute;
  left:1042px;
  top:79px;
  width:57px;
  height:25px;
}
#u1829_input {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1830_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u1830 {
  border-width:0px;
  position:absolute;
  left:1018px;
  top:74px;
  width:16px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u1830_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9px;
  width:16px;
  word-wrap:break-word;
}
#u1831_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u1831 {
  border-width:0px;
  position:absolute;
  left:779px;
  top:74px;
  width:133px;
  height:35px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u1831_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:121px;
  word-wrap:break-word;
}
#u1832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1832 {
  border-width:0px;
  position:absolute;
  left:883px;
  top:84px;
  width:15px;
  height:15px;
}
#u1832_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1833 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1834 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1835_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:14px;
  text-align:left;
}
#u1835 {
  border-width:0px;
  position:absolute;
  left:927px;
  top:130px;
  width:90px;
  height:35px;
  font-size:14px;
  text-align:left;
}
#u1835_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:35px;
  background:inherit;
  background-color:rgba(217, 220, 226, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:14px;
  text-align:left;
}
#u1835.selected {
}
#u1835_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:35px;
  background:inherit;
  background-color:rgba(248, 249, 251, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:14px;
  text-align:left;
}
#u1835.disabled {
}
#u1835_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:4px;
}
#u1836 {
  border-width:0px;
  position:absolute;
  left:1002px;
  top:150px;
  width:6px;
  height:4px;
}
#u1836_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:4px;
}
#u1837 {
  border-width:0px;
  position:absolute;
  left:1002px;
  top:142px;
  width:6px;
  height:4px;
}
#u1837_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1838 {
  border-width:0px;
  position:absolute;
  left:935px;
  top:135px;
  width:57px;
  height:25px;
}
#u1838_input {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1839 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1840_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:14px;
  text-align:left;
}
#u1840 {
  border-width:0px;
  position:absolute;
  left:1034px;
  top:130px;
  width:90px;
  height:35px;
  font-size:14px;
  text-align:left;
}
#u1840_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:35px;
  background:inherit;
  background-color:rgba(217, 220, 226, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:14px;
  text-align:left;
}
#u1840.selected {
}
#u1840_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:35px;
  background:inherit;
  background-color:rgba(248, 249, 251, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:14px;
  text-align:left;
}
#u1840.disabled {
}
#u1840_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:4px;
}
#u1841 {
  border-width:0px;
  position:absolute;
  left:1109px;
  top:150px;
  width:6px;
  height:4px;
}
#u1841_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:4px;
}
#u1842 {
  border-width:0px;
  position:absolute;
  left:1109px;
  top:142px;
  width:6px;
  height:4px;
}
#u1842_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1843 {
  border-width:0px;
  position:absolute;
  left:1042px;
  top:135px;
  width:57px;
  height:25px;
}
#u1843_input {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1844_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u1844 {
  border-width:0px;
  position:absolute;
  left:1018px;
  top:130px;
  width:16px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u1844_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9px;
  width:16px;
  word-wrap:break-word;
}
#u1845_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u1845 {
  border-width:0px;
  position:absolute;
  left:779px;
  top:130px;
  width:133px;
  height:35px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u1845_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:121px;
  word-wrap:break-word;
}
#u1846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1846 {
  border-width:0px;
  position:absolute;
  left:883px;
  top:140px;
  width:15px;
  height:15px;
}
#u1846_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u1847 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:222px;
  width:130px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:40px;
}
#u1847_img.selected {
}
#u1847.selected {
}
#u1847_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u1848 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:274px;
  width:90px;
  height:30px;
}
#u1848_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1848_input:disabled {
  color:grayText;
}
#u1849_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1849 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:226px;
  width:100px;
  height:30px;
}
#u1849_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u1850 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:76px;
  width:288px;
  height:30px;
}
#u1850_input {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1851 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:274px;
  width:90px;
  height:30px;
}
#u1851_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1851_input:disabled {
  color:grayText;
}
#u1852 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:274px;
  width:100px;
  height:30px;
}
#u1852_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1852_input:disabled {
  color:grayText;
}
#u1853 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:126px;
  width:288px;
  height:79px;
}
#u1853_input {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:79px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u1854 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:128px;
  width:130px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:40px;
}
#u1854_img.selected {
}
#u1854.selected {
}
#u1854_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u1855_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u1855 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:316px;
  width:130px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:40px;
}
#u1855_img.selected {
}
#u1855.selected {
}
#u1855_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u1856 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:274px;
  width:100px;
  height:30px;
}
#u1856_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1856_input:disabled {
  color:grayText;
}
#u1857 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1858_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:36px;
  background:inherit;
  background-color:rgba(107, 121, 140, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u1858 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:328px;
  width:236px;
  height:36px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u1858_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:224px;
  word-wrap:break-word;
}
#u1859_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u1859 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:338px;
  width:15px;
  height:17px;
}
#u1859_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1860 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1861_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:36px;
  background:inherit;
  background-color:rgba(107, 121, 140, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u1861 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:375px;
  width:236px;
  height:36px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u1861_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:224px;
  word-wrap:break-word;
}
#u1862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u1862 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:385px;
  width:15px;
  height:17px;
}
#u1862_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1863_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u1863 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:417px;
  width:130px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:40px;
}
#u1863_img.selected {
}
#u1863.selected {
}
#u1863_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u1864 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:472px;
  width:133px;
  height:30px;
}
#u1864_input {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1864_input:disabled {
  color:grayText;
}
#u1865_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1865 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:426px;
  width:100px;
  height:30px;
}
#u1865_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u1866_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u1866 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:506px;
  width:130px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:40px;
}
#u1866_img.selected {
}
#u1866.selected {
}
#u1866_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u1867 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1868_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:36px;
  background:inherit;
  background-color:rgba(107, 121, 140, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u1868 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:518px;
  width:89px;
  height:36px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u1868_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:77px;
  word-wrap:break-word;
}
#u1869_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u1869 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:528px;
  width:15px;
  height:17px;
}
#u1869_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
